body {
    background-color: #d9d9d9;
}
h1, h2 {
    text-align: center;
}
p {
    font-size: 28px;
}
div {
    font-size: 40px;
    text-align: center;
    background-color: rgb(117 101 121 / 37%);
    display: block;
    margin: 15px;
    padding: 30px;
}